<ng-template [ngIf]="ListPayers && Payer" >
    <button class="pull-right" mat-raised-button (click)="GoToBack()" color="primary">Volver</button>
    <br>
    <br>
    <mat-card>
      <mat-card-header>
        
        <mat-card-title>Editar Rede</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form">
          <div class="example-container">
            <mat-form-field required>
              <mat-select [(value)]="Payer.payerId"  [formControl]="form.controls['Rede']" placeholder="Rede">
                <mat-option *ngFor="let result of ListPayers" [value]="result.id">{{result.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['Rede'].hasError('required')">
                Campo Requerido.</mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput placeholder="Codigo" [(ngModel)]="Payer.code"  [formControl]="form.controls['Code']" name="Code" >
              <mat-error *ngIf="form.controls['Code'].hasError('required')">
                Campo Requerido.</mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput placeholder="Nombre Sucursal" [(ngModel)]="Payer.name"  [formControl]="form.controls['Name']" name="Name" >
              <mat-error *ngIf="form.controls['Name'].hasError('required')">
                Campo Requerido.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Ubicacion" [(ngModel)]="Payer.formattedAddress"  [formControl]="form.controls['FormattedAddress']" name="Direccion" >
              <mat-error *ngIf="form.controls['FormattedAddress'].hasError('required')">
                Campo Requerido.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Latitud" [(ngModel)]="Payer.latitude" name="Lat"
                [formControl]="form.controls['Latitude']">
  
              <mat-error *ngIf="form.controls['Latitude'].hasError('required')">
                Campo Requerido.</mat-error>
              <mat-error *ngIf="form.controls['Latitude'].hasError('number') && form.controls['Latitude'].touched">Sólo
                si acepta números.</mat-error>
  
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Longitud" [(ngModel)]="Payer.longitude" name="Log" [formControl]="form.controls['Longitude']">
              <mat-error *ngIf="form.controls['Longitude'].hasError('required')">
                Campo Requerido.</mat-error>
              <mat-error *ngIf="form.controls['Longitude'].hasError('number') && form.controls['Longitude'].touched">Sólo
                si acepta números.</mat-error>
            </mat-form-field>
          </div>
  
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="Guardar()"  color="primary">Guardar</button>
        <button mat-raised-button (click)="Cancelar()" color="accent">Limpar</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>